* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.d-flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  font-family: sans-serif;
}

body .start {
  padding: 20px 0;
  background-color: black;
  color: white;
}

body .start .container .d-flex i {
  color: #ff2242;
  margin-right: 10px;
}

body .start .container .d-flex .title {
  text-transform: uppercase;
}

body .start .container .d-flex span {
  margin: 0 20px;
}

body .start .container .phone-number i {
  margin-right: 10px;
}

body .start .container .phone-number a {
  color: white;
  text-decoration: none;
}

section.header {
  padding: 15px 0;
}

section.header .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.header .container .logo img {
  height: 55px;
}

section.header .container .ad img {
  height: 90px;
}

nav {
  background-color: #ff2242;
  color: white;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

nav .container .navs li:last-child a {
  border: 0;
}

nav .container .navs li:last-child {
  padding-left: 0;
}

nav .container .navs li a {
  padding: 0 20px;
  color: white;
  text-decoration: none;
  border-right: 1px solid white;
  font-weight: 20px;
  text-transform: uppercase;
}

.social-media {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.social-media li:hover a {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.social-media li a {
  color: white;
  padding: 20px;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.search {
  padding: 30px;
  border-right: 1px solid white;
}

section .container {
  padding: 40px 0;
}

section .container .card-img-1 {
  opacity: 0.9;
  position: relative;
  border-radius: 20px;
  width: 800px;
  height: 640px;
  margin-right: 110px;
}

section .container .ppp {
  position: absolute;
  bottom: -300px;
  font-size: 40px;
  width: 600px;
  left: 150px;
  color: black;
  font-weight: bold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .container .ppp:hover {
  color: red;
}

section .container .card-img .img-1 {
  width: 350px;
  margin-bottom: 30px;
}

section .container .card-img .img-2 {
  width: 350px;
  height: 230px;
}

section .container .card-frond {
  border-radius: 20px;
  padding: 20px;
  width: 700px;
  background-color: #f2f2f2;
}

section .container .card-frond .card-nav {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .card-frond .card-nav p {
  font-size: 25px;
}

section .container .card-frond .card-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

section .container .card-frond .card-nav ul li {
  padding: 0 6px;
}

section .container .card-frond .left-card img {
  border-radius: 10px;
}

section .container .card-frond .left-card p {
  padding: 10px 0;
}

section .container .card-frond .right {
  width: 570px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .container .card-frond .right .card-right {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .container .card-frond .right .card-right img {
  border-radius: 20px;
  margin-right: 8px;
}

section .container .card-frond .right .card-right .card-left-1 p {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 5px 0;
}

section .container .card-frond .right .card-right .card-left-1 p:hover {
  color: red;
}

section {
  padding: 30px 0;
  width: 100%;
  background-color: #e4d8d8;
}

section .container img {
  border-radius: 10px;
}

section .container .icon-link {
  padding: 20px 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 350px;
  border-radius: 30px;
  height: 200px;
  background-color: #f2f2f2;
}

section .container .icon-link .card-icon-link {
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed blue;
  margin-left: 14px;
  width: 120px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

section .container .icon-link .card-icon-link .text-icon-link {
  font-size: 13px;
}

section .container .icon-link .card-icon-link li {
  margin-right: 10px;
  padding-left: 14px;
  padding-top: 10px;
  width: 43px;
  border-radius: 10px;
  list-style: none;
}

section .container .icon-link .card-icon-link li a {
  color: white;
}

section .container .icon-link .card-icon-link .icon-back-1 {
  background-color: darkblue;
}

section .container .icon-link .card-icon-link .icon-back-2 {
  background-color: #007bff;
}

section .container .icon-link .card-icon-link .icon-back-3 {
  background-color: #c9e430;
}

section .container .icon-link .card-icon-link .icon-back-4 {
  background-color: red;
}

section .container .color-text-1 {
  color: #10c600;
}

section .container .color-text-2 {
  color: #0277b5;
}

section .container .color-text-3 {
  color: yellow;
}

section .container .color-text-4 {
  color: #ff2242;
}

section .container .img-01 {
  width: 60px;
  height: 60px;
}

section .container .card-rightt {
  padding: 10px;
  margin-top: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 350px;
}

section .container .card-rightt .right-text {
  padding: 10px;
  font-size: 21px;
}

section .container .card-rightt .img-rightt {
  margin-left: 10px;
}

section .container .carousel-big {
  border-radius: 20px;
  width: 900px;
  padding: 10px;
  background-color: #f2f2f2;
}

section .container .carousel-big .pppp {
  margin-top: 40px;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  color: #635c5c;
  font-weight: bold;
}

section .container .carousel-big .carousel .carousel-card {
  width: 290px;
}

section .container .carousel-big .carousel .carousel-card img {
  width: 90%;
}

section .container .carousel-big .carousel .carousel-card .text-carousel {
  padding: 10px 0;
  color: #635c5c;
  font-weight: bold;
}

section .container .trending-text {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
}

section .container .trending {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f2f2f2;
}

section .container .trending .trending-big {
  padding: 10px 20px;
}

section .container .trending .trending-big .trending-card {
  position: relative;
  border-radius: 10px;
}

section .container .trending .trending-big .trending-card .trending-position {
  width: 230px;
  background-color: white;
  border-radius: 8px;
  top: -75px;
  position: absolute;
  color: #635c5c;
  font-weight: bold;
  padding: 10px 0;
}

section .container .trending .trending-big .trending-card .trending-position .trending-text-small {
  margin-top: 8px;
  font-size: 13px;
}

section .container video {
  width: 100%;
}

section .container .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .container .video-card video {
  width: 270px;
}

section .container .card-pic {
  padding: 20px;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
}

section .container .card-pic .pic .pic-text-big {
  width: 90%;
  color: #635c5c;
  font-weight: bold;
  padding: 10px 0;
}

section .container .card-pic .pic .pic-text-small {
  color: #635c5c;
  font-weight: bold;
}

.reklama {
  background-color: white;
  width: 100%;
  margin-left: 100px;
}

.news-back {
  color: white;
  background-color: #212529;
}

.news-back .container .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-back .container .news .news-1 {
  width: 400px;
}

.news-back .container .news .news-1 img {
  color: white;
}

.news-back .container .news .news-1 p {
  padding: 10px 0;
}

.news-back .container .news .news-2 {
  width: 300px;
}

.news-back .container .news .news-2 .news-p {
  font-family: "Gill Sans", "Gill Sans MT";
  font-size: 25px;
  margin-bottom: 20px;
}

.news-back .container .news .news-2 .d-flex img {
  margin-bottom: 10px;
  margin-right: 20px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT';
}
/*# sourceMappingURL=dars.css.map */